In [163]:
Amy_male = (661*804)/1847
Amy_female = (661*1043)/1847

In [164]:
Bob_male = (278*804)/1847
Bob_female = (278*1043)/1847

In [165]:
Kevin_male = (908*804)/1847
Kevin_female = (908*1043)/1847

In [166]:
print(Amy_male)
print(Amy_female)
print(Bob_male)
print(Bob_female)
print(Kevin_male)
print(Kevin_female)

287.7336220898755
373.2663779101245
121.01353546291283
156.98646453708716
395.2528424472117
512.7471575527883

In [167]:
import pandas as pd
df_ = pd.read_csv("/content/統計作業-獨立.csv")
df_

   Gander  Amy  Bob  Kevin  Total
0    Male  315  152    337    804
1  Female  346  126    571   1043
2   Total  661  278    908   1847

In [168]:
amy = ["315(287.7336)","346(373.2663)","(661)"]
bob = ["152(121.0135)","126(156.9864)","(278)"]
kevin = ["337(395.2528)","571(512.7471)","(908)"]
total = ["(804)","(1043)","(1847)"]

dic = {"Amy":amy,"Bob":bob,"Kevin":kevin,"(Total)":total}
gander = pd.Index(data=["Male","Female","(Total)"],name="Gander")
df = pd.DataFrame(dic,index= gander)
df

                   Amy            Bob          Kevin (Total)
Gander
Male     315(287.7336)  152(121.0135)  337(395.2528)   (804)
Female   346(373.2663)  126(156.9864)  571(512.7471)  (1043)
(Total)          (661)          (278)          (908)  (1847)

In [181]:
(((315-(Amy_male))**2)/Amy_male) + (((346-(Amy_female))**2)/Amy_female) + (((152-(Bob_male))**2)/Bob_male) + (((126-(Bob_female))**2)/Bob_female) + (((337-(Kevin_male))**2)/Kevin_male) + (((571-(Kevin_female))**2)/Kevin_female)

33.829555873353954

In [171]:
(((315-287.7336)**2)/287.7336)+(((346-373.2663)**2)/373.2663)+(((152-121.0135)**2)/121.0135)+(((126-156.9864)**2)/156.9864)+(((337-395.2528)**2)/395.2528)+(((571-512.7471)**2)/512.7471)

33.82954904537508

In [189]:
r = 2
c = 3
DOF = (r-1)*(c-1)
print("自由度:",DOF)

自由度: 2

In [190]:
from scipy.stats import chi2_contingency  

observed = [
    [315,152,337],
    [346,126,571]
]

chi2,P,dof,expected = chi2_contingency(observed)

print('chi-square:',chi2)
print('p-value:',P)
print('df:',dof)
print('expected vale table:',expected)
if P >= 0.05:
  print("H0 is accepted")
else:
  print("H0 is rejected")

chi-square: 33.829555873353954
p-value: 4.5082218490878234e-08
df: 2
expected vale table: [[287.73362209 121.01353546 395.25284245]
 [373.26637791 156.98646454 512.74715755]]
H0 is rejected