In [6]:
Amy_male = (661*804)/1847
Amy_female = (661*1043)/1847

In [7]:
Bob_male = (278*804)/1847
Bob_female = (278*1043)/1847

In [8]:
Kevin_male = (908*804)/1847
Kevin_female = (908*1043)/1847

In [9]:
print(Amy_male)
print(Amy_female)
print(Bob_male)
print(Bob_female)
print(Kevin_male)
print(Kevin_female)

287.7336220898755
373.2663779101245
121.01353546291283
156.98646453708716
395.2528424472117
512.7471575527883

In [10]:
import pandas as pd
df_ = pd.read_csv("/content/統計作業-獨立.csv")
df_

   Gander  Amy  Bob  Kevin  Total
0    Male  315  152    337    804
1  Female  346  126    571   1043
2   Total  661  278    908   1847

In [11]:
amy = ["315(287.7336)","346(373.2663)","(661)"]
bob = ["152(121.0135)","126(156.9864)","(278)"]
kevin = ["337(395.2528)","571(512.7471)","(908)"]
total = ["(804)","(1043)","(1847)"]

dic = {"Amy":amy,"Bob":bob,"Kevin":kevin,"(Total)":total}
gander = pd.Index(data=["Male","Female","(Total)"],name="Gander")
df = pd.DataFrame(dic,index= gander)
df

                   Amy            Bob          Kevin (Total)
Gander
Male     315(287.7336)  152(121.0135)  337(395.2528)   (804)
Female   346(373.2663)  126(156.9864)  571(512.7471)  (1043)
(Total)          (661)          (278)          (908)  (1847)

In [12]:
(((315-(Amy_male))**2)/Amy_male) + (((346-(Amy_female))**2)/Amy_female) + (((152-(Bob_male))**2)/Bob_male) + (((126-(Bob_female))**2)/Bob_female) + (((337-(Kevin_male))**2)/Kevin_male) + (((571-(Kevin_female))**2)/Kevin_female)

33.829555873353954

In [13]:
(((315-287.7336)**2)/287.7336)+(((346-373.2663)**2)/373.2663)+(((152-121.0135)**2)/121.0135)+(((126-156.9864)**2)/156.9864)+(((337-395.2528)**2)/395.2528)+(((571-512.7471)**2)/512.7471)

33.82954904537508

In [14]:
r = 2
c = 3
DOF = (r-1)*(c-1)
print("自由度:",DOF)

自由度: 2

In [15]:
from scipy.stats import chi2_contingency  

observed = [
    [315,152,337],
    [346,126,571]
]

chi2,P,dof,expected = chi2_contingency(observed)

print('chi-square:',chi2)
print('p-value:',P)
print('df:',dof)
print('expected vale table:',expected)
if P >= 0.05:
  print("H0 is accepted")
else:
  print("H0 is rejected")

chi-square: 33.829555873353954
p-value: 4.5082218490878234e-08
df: 2
expected vale table: [[287.73362209 121.01353546 395.25284245]
 [373.26637791 156.98646454 512.74715755]]
H0 is rejected

In [16]:
from scipy.stats import chi2_contingency  

observed = [
    [45,55,70],
    [905,890,870],
]

chi2,P,dof,expected = chi2_contingency(observed)

print('chi-square:',chi2)
print('p-value:',P)
print('df:',dof)
print('expected vale table:',expected)
if P >= 0.05:
  print("H0 is accepted")
else:
  print("H0 is rejected")

chi-square: 6.233920047684764
p-value: 0.044291609404034316
df: 2
expected vale table: [[ 56.9664903   56.66666667  56.36684303]
 [893.0335097  888.33333333 883.63315697]]
H0 is rejected

## v1 = [0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55]
## v2 = [1, 0.95, 0.95, 0.9, 0.85, 0.7, 0.65, 0.6, 0.55, 0.42]

In [117]:
import statistics
import numpy as np
import pandas as pd
import scipy.stats

v1 = [0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55]
v2 = [1, 0.95, 0.95, 0.9, 0.85, 0.7, 0.65, 0.6, 0.55, 0.42]

# 使用 statistics 資料庫獲取平均值
mean_v1 = statistics.mean(v1)
mean_v2 = statistics.mean(v2)

# 查詢 Python 列表的平均值
mean_v1_2 = sum(v1)/len(v1)
mean_v2_2 = sum(v2)/len(v2)

# 使用 numpy.mean() 查詢 Python 列表的平均值
mean_v1_3 = np.mean(v1)
mean_v2_3 = np.mean(v2)


# Python
sub_v1 = [i - mean_v1 for i in v1]
sub_v2 = [i - mean_v2 for i in v2]

numerator = sum([sub_v1[i]*sub_v2[i] for i in range(len(sub_v1))])
n = len(v1) - 1
cov = numerator / n

      # Standard Deviation(標準差) of x and y
std_deviation_x = sum([sub_v1[i]**2.0 for i in range(len(sub_v1))])
std_deviation_y = sum([sub_v2[i]**2.0 for i in range(len(sub_v2))])
denominator = (std_deviation_x**0.5) * (std_deviation_y**0.5) 
cor = numerator /denominator

# Numpy
x = np.array(v1)
y = np.array(v2)
np_cov = np.cov(x, y)[0][1]
np_cor = np.corrcoef(x,y)

# Pandas
X = pd.Series(v1)
Y = pd.Series(v2) 
pd_cov = X.cov(Y)
pd_cor = X.corr(Y)

_="-"*70


print("python - Covariance(共變異數): ",cov)
print("python - Correlation(相關係數): ",cor,"\n"+_)
print("numpy - Covariance(共變異數): ",np_cov)
print("numpy - Correlation(相關係數): ",np_cor[0,1],"\n"+_)
print("Pandas - Covariance(共變異數): ",pd_cov)
print("Pandas - Correlation(相關係數): ",pd_cor)

python - Covariance(共變異數):  -0.029638888888888895
python - Correlation(相關係數):  -0.9811092951214498
----------------------------------------------------------------------
numpy - Covariance(共變異數):  -0.02963888888888889
numpy - Correlation(相關係數):  -0.98110929512145
----------------------------------------------------------------------
Pandas - Covariance(共變異數):  -0.02963888888888889
Pandas - Correlation(相關係數):  -0.98110929512145